.spinner {
    /* Your styling */
    width: 15px;
    height: 15px;
    border: 6px solid rgba(0, 0, 0, 0.15);
    border-top-color: #0d6efd;
    border-radius: 50%;
    margin-left: 64px;
    margin-top: 24px;
    display: block;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#country-info {
    align-items: center;
    margin: 0 auto;
}

/* Must have visible styling */
.country-card {
    border: 1px solid #cfead6;
    border-radius: 5%;
    background: #e9f7ef;
    text-align: center;
    margin-bottom: 16px;
    width: 25%;
    padding: 0.5em;
}

.country-card img {
    width: clamp(80px, 50%, 150px);
}

#bordering-countries {
    margin-top: 30px;
    padding: 5em;
}

.border-grid {
    display: flex; /* or display: flex */
    /* Additional layout properties */
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3em;
}

.error {
    color: /* error color */ red;
    /* Additional styling */
}

.hidden {
    display: none;
}
